@import url('/home/tonio/.cache/matugen/waybar.css');

window {
margin: 0px;
border: 1px solid @background;
background-color: @background;
}

#input {
margin: 5px;
border: none;
color: @text;
background-color: @light-background;
}

#inner-box {
margin: 5px;
border: none;
background-color: @background;
}

#outer-box {
margin: 5px;
border: none;
background-color: @background;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @text;
}

#entry:selected {
background-color: @light-background;
}
